/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main{
  width: 100%;
  height: auto;
  margin: 0;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8.5rem;
}

section{
  display: flex;
  flex-direction: column;
  margin-bottom: 2.7rem;
}
label{
  font-weight: bold;
}

.input-wrapper {
  position: relative;
  display: flex;
  margin-top: .3rem;
}

.start-icon {
  position: absolute;
  top: .8rem;
  left: 1rem;
  color: #aaa;
  font-size: 1.2rem;
}

.end-icon{
  position: absolute;
  top: .8rem;
  right: 1rem;
  color: #aaa;
}

.input-wrapper input {
  width: 25rem;
  padding: .8rem 0 .8rem 1rem;
  box-sizing: border-box;
  font-size: 1rem;
  text-align: start;
  background-color: rgba(239, 239, 239, 0.3);
  border: 1px solid #ccc;
}

p{
  color: #777;
}

.input-wrapper input:focus{
  outline: 2px solid #6F3CE8;
  box-shadow: 1px 1px 10px #CCBAF7;
}

.input-wrapper input:nth-child(2){
  padding-left: 2.5rem;
}

.input-wrapper input:disabled{
  color: #ccc;
}

.error-input > .end-icon, .error-text{
  color: red;
}

.error-input> input:focus{
  outline: 2px solid red;
  color: red;
  box-shadow: 1px 1px 10px rgb(255, 128, 128);
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
